name: Build

on:
  workflow_call:
    inputs:
      ref:
        description: 'The git ref to build'
        required: true
        type: string

jobs:
  build:
    name: Build with Next.js
    runs-on: ubuntu-latest
    outputs:
      artifact-name: ${{ steps.name-artifact.outputs.artifact-name }}
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ inputs.ref }}

      - uses: actions/setup-node@v1
        with:
          node-version: "16"

      - name: Cache node modules
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-build-cache-node-modules-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-cache-node-modules-

      - name: Cache Next.js build
        uses: actions/cache@v2
        with:
          path: ${{ github.workspace }}/.next/cache
          # Generate a new cache whenever packages or source files change.
          key: ${{ runner.os }}-nextjs-${{ hashFiles('**/package-lock.json') }}-${{ hashFiles('**.[jt]sx?') }}
          # If source files changed but packages didn't, rebuild from a prior cache.
          restore-keys: |
            ${{ runner.os }}-nextjs-${{ hashFiles('**/package-lock.json') }}-

      - run: npm ci

      - run: npm run export

      - id: name-artifact
        name: Set artifact name
        run: echo "::set-output name=artifact-name::website-${{ github.sha }}"

      - name: Create tar archive
        run: tar czf out.tar.gz -C ${{ github.workspace }}/out .

      - name: Upload tar archive
        uses: actions/upload-artifact@v2
        with:
          name: ${{ steps.name-artifact.outputs.artifact-name }}
          path: out.tar.gz
