name: Deploy

on:
  workflow_call:
    secrets:
      netlify-token:
        required: true

jobs:
  deploy:
    name: Deploy to Netlify
    runs-on: ubuntu-latest
    steps:
      - id: download
        uses: actions/download-artifact@v3

      - name: Extract tar archive
        run: |
          mkdir out
          tar xf website-*/out.tar.gz -C out/

      - uses: actions/setup-node@v3
        with:
          node-version: "19"

      - name: Deploy to netlify
        run: npx -y netlify-cli deploy --prod --dir=out/ --timeout=3600
        env:
          NETLIFY_SITE_ID: e464072b-c4e2-4ca9-b6d5-317fd657ad16
          NETLIFY_AUTH_TOKEN: ${{ secrets.netlify-token }}
